@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

/* Partie header */
.logo {
    height: 50px;
}

h1 {
    color: #901C1C;
    margin: 0;
}

/* Partie index */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 60px 0 100px;
}

.thumb-photographer{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thumb-photographer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.thumb-photographer a h2 {
    margin: 20px 0 0;
    color: #D3573C;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
}

.user {
    height: 200px;
    width: 200px;
    background: #C4C4C4;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.thumb-photographer p{
    margin: 0 0 3px;
    text-align: center;
}

.thumb-photographer p:nth-of-type(1) {
    color: #901C1C;
    font-size: 13px;
    line-height: 17px;
}

.thumb-photographer p:nth-of-type(2) {
    font-size: 10px;
    line-height: 13px;
}

.thumb-photographer p:nth-of-type(3) {
    color: #757575;
    font-size: 9px;
    line-height: 12px;
}
